[Unit]
Description=Capture RADIUS statistics
After=syslog.target network.target
After=radiusd.target

[Service]
Type=forking
PIDFile=/var/run/radiusd/radsniff.pid
EnvironmentFile=/etc/sysconfig/radsniff
ExecStart=/usr/bin/radsniff -P /var/run/radiusd/radsniff.pid -d /etc/raddb $RADSNIFF_OPTIONS

[Install]
WantedBy=multi-user.target
